/*------------------Variables-----------------------------*/

:root {
    --green-color: #7ACC2D;
    --white-color: white;
    --black-color: rgb(34, 31, 31);
    /*padding*/
    --space: 10px;
    /*tipografia*/
    --normal:12px;
    /*Box Shadow*/
    
}

/*------------------Variables-----------------------------*/
html,body {

    padding: 0;
    margin:0;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

/*---------------------------Inicio del header---------------------------------*/

header {
    background-color: var(--green-color);
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}

nav li {
    padding: var(--space);
    list-style: none;
}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}

.logo {
    padding-left:var(--space);
}


/*-------------------Inicio del main section---------------------------------*/

.main-section {
    padding:0;
    text-align: center;
    padding-bottom: 100px;
}

.hero-h1 {
    font-size: 2em;
    text-align: center;
}

.products {
    margin-top: 100px;
    background-image: url(https://i.ibb.co/zJHZDJs/curve.png);
    background-size: cover;
    background-position: center top;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-gap: var(--space);
    width: 50%;
    height: 100%;
    
}

.content {
    background-color:var(--white-color);
    box-shadow: 0 0 2px black;
    border: 1px solid gray;
    border-radius: 5px;
}

.btnProduct {
    background-color:var(--green-color);
    color: var(--white-color);
    width: 90%;
    font-size: 17px;
    margin: 5px;
    padding:var(--space);
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btnProduct:hover {
    background-color: greenyellow;
}
/*------------------------Descripcion----------------------------*/
.home {
    border-bottom: 1px solid gray;
}

.description {
    
    display: grid;
    grid-template-columns: repeat(3,20%);
    grid-gap: 30px;
    justify-content: center;
}

.description-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.description-item img {
    width: 150px;
    height: 150px;
}

/*-----------------------Menciones---------------------------------------*/

.mentions h1 {
    text-align: center;
}

.mentions-wrapper {
    display: grid;
    grid-template-columns: repeat(4,20%);
    grid-gap: 10px;
    justify-content: center;
    padding-bottom: 20px;

}

.mention-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 2px black;
    text-align: center;
}

.mention-item img{
    border: none;
}



/*------------------------Footer--------------------------------*/
footer {
    background-color: var(--black-color);
    width: auto;
    height: 50px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    
}

footer a{
    color: white;
    text-decoration: none;
    margin: 10px;

}

/*-----------------------media queries---------------------------------*/
@media screen and (max-width:768px) {

    .main-section {
        padding-bottom: 10px;
    }

    .products {
        align-content: center;
        height: auto;
        margin-top: 10px;
        
    }
    .products {
        
        height:auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .product {
        align-items: center;
    justify-content: center;
    }
    .mentions-wrapper {
        grid-template-columns: repeat(2,40%);
        grid-gap: 10px;
    }




}
@media screen and (max-width:425px) {


.product {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    grid-gap: var(--space);
    width: 90%;
    height: 100%;
    
}

.description {
    grid-template-columns: 1fr;
}


.mentions-wrapper {
    display: grid;
    grid-template-columns: 70%;
    grid-gap: 10px;
    justify-content: center;
}



}